{% extends "base.jinja" %}
{% block body_class %}has-site-header nav-solid{% endblock %}
{% block content %}<main class="pt-28 pb-16 px-4 md:px-8 max-w-5xl mx-auto"><h1 class="font-display text-3xl text-espresso">Coming Soon</h1></main>{% endblock %}
